*{
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    position: relative;
    max-width: 80vw;
    margin: 0 auto 2vw;
    padding: 1vw 0 0 0;
}

.movie__today {
    margin: 0 0 2vh 0;
}

.nav{
    margin: 0 0 2vh 0;
    gap: 40px;
}

.movie__today-img{
    border-radius: 16px;
    width: 100%;
}

.all-movies{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3vw 2vw;
}

.today__box{
    position: relative;
}

nav {
    display: flex;
    align-items: center;
}

.nav__item{
    display: flex;
    gap: 10px;
    align-items: center;
}

input[type="text"] {
    padding: 5px 10px;
    border-radius: 1vw;
    border-style: none;
    border: 1px solid grey;
}

select{
    padding: 5px 10px;
    border-radius: 1vw;
    border-style: none;
    border: 1px solid grey;
}

button{
    border-style: none;
    border-radius: 10vw;
    padding: 5px 10px;
    border: 1px solid grey;
    cursor: pointer;
}

.back-to-all {
    position: absolute;
    bottom: -40px;
}

.today__title{
    position: absolute;
    top: 2vw;
    left: 3vw;
    font-size: 3vw;
    color: black;
    background: white;
    border-radius: 100vw;
    padding: 0.5vw 1.5vw;
}

.movie__cover{
    width: 100%;
    border-radius: 16px;
    margin: 0 0 8px 0;
}

.movie__title{
    margin: 0 0 8px 0;
}

.movie__age{
    margin: 0 0 4px 0;
}

.movie__genre{
    margin: 0 0 4px 0;
}